@import 'tailwindcss';
@import './theme.css';

/* Font */
/* @font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/Pretendard-Medium.woff2') format('woff2');
} */

@font-face {
  font-family: 'Pretendard';
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/PretendardVariable.woff2') format('woff2-variations');
}

:root {
  --background: #f5f5f5;
  --foreground: #b4b2b2;
}
body {
  background: #f5f5f5;
  color: var(--foreground);
  font-family: 'Pretendard', sans-serif;
}

/* @layer utilities {
  .scrollbar-hide {
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
} */
/* 모든 스크롤바 숨김 (스크롤은 됨) */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE, Edge */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
