@import 'tailwindcss';
@import './theme.css';

/* globals.css 최상단 */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
  display: none !important; /* Chrome, Safari, Opera */
}
/* Font */
/* @font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/Pretendard-Medium.woff2') format('woff2');
} */

@font-face {
  font-family: 'Pretendard';
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/PretendardVariable.woff2') format('woff2-variations');
}

:root {
  --background: #f5f5f5;
  --foreground: #b4b2b2;
}
body {
  background: #f5f5f5;
  color: var(--foreground);
  font-family: 'Pretendard', sans-serif;
}
@layer utilities {
  /* IE and Edge */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;
  }

  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
