@import 'tailwindcss';
@import './theme.css';

/* Font */
@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/Pretendard-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 600; /* SemiBold*/
  font-display: swap;
  src: url('/fonts/Pretendard-SemiBold.woff2') format('woff2');
}
@font-face {
  font-family: 'Pretendard';
  font-style: bold;
  font-weight: 700; /* bold */
  font-display: swap;
  src: url('/fonts/Pretendard-Bold.woff2') format('woff2');
}

:root {
  --background: #f5f5f5;
  --foreground: #b4b2b2;
}
body {
  background: #f5f5f5;
  color: var(--foreground);
  font-family: 'Pretendard', sans-serif;
}

::-webkit-scrollbar {
  display: none;
}
