@theme {
  /* Colors */
  --color-white: #ffffff;
  --color-black: #0b0f14;
  --color-red: #ff3637;
  /*--color-gray-600: #736f6f;*/
  --color-gray-100: #e4e4e4;
  --color-gray-300: #bebaba;
  --color-gray-700: #736f6f;
  --color-gray: #a6a6a6;
  --color-gray-900: #1f1d1d;

  /* Font */
  --font-sf-pro: 'Pretendard', sans-serif;

  /*작은 글씨 line-height & space*/
  --line-height-text: 1.4;
  --letter-spacing-text: -0.36px;
  /*title 글씨 line-height & space*/
  --line-height-title: 1.3;
  --letter-spacing-title: -0.46px;
}
