@theme {
  /* Colors */
  --color-white: #ffffff;
  --color-black: #0b0f14;
  --color-red: #ff3637;
  --color-main-red-4: #880405;
  --color-main-red-2: #ff3637;
  --color-main-red-1: #c31c20;
  --color-main-red-3: #ff6a46;
  --color-gray-100: #e4e4e4;
  --color-gray-200: #fff;
  --color-gray-300: #bebaba;
  --color-gray-400: #a5a1a1;
  --color-gray-500: #8c8888;
  --color-gray-600: #736f6f;
  --color-gray-700: #4a4747;
  --color-gray: #a6a6a6;
  --color-gray-800: #413d3d;
  --color-gray-850: #332f2f;
  --color-gray-900: #1f1d1d;
  --color-BG: #0b0f14;

  /* Font */
  --font-sf-pro: 'Pretendard', sans-serif;

  /*작은 글씨 line-height & space*/
  --line-height-text: 1.4;
  --letter-spacing-text: -0.36px;
  /*title 글씨 line-height & space*/
  --line-height-title: 1.3;
  --letter-spacing-title: -0.46px;

  /* Box Shadow */
  --box-shadow-custom: 0 0 16px #ff5454;
}

.custom-box-shadow {
  box-shadow: var(--box-shadow-custom);
}
